# 依存ライブラリ（これを入れると容量が爆発します）
node_modules/

# ビルド成果物（S3に上げているもの。GitHubには不要）
dist/

# 環境変数（将来使うために入れておくと安心）
.env
.env.local

# エディタの設定ファイル
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OSのキャッシュファイル
.DS_Store
Thumbs.db

# Java (Maven)
API/target/
API/bin/
*.class

# Eclipse settings
API/.classpath
API/.project
API/.settings/
